<!-- <nav class="nav justify-content-center" *ngIf="_user.islogin">
  <a class="nav-link" routerLink="user/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >all user</a>
  <a class="nav-link " routerLink="user/profile" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >profile</a>
  <a class="nav-link " routerLink="user/add" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" >add</a>
  <a class="nav-link " routerLink="user/addFood" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}" >addfood</a>
    <span>{{_user.userdata.name}}</span>
  <a class="nav-link " routerLink="user/logout" >logout</a>

</nav>

<nav class="nav justify-content-center" *ngIf="!_user.islogin">
  <a class="nav-link " routerLink="user/register" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">register</a>
  <a class="nav-link " routerLink="user/login" routerLinkActive="active"
    [routerLinkActiveOptions]="{exact:true}">login</a>
</nav> -->


<div class="fixed-header-box sticky-header-state-reset" style="">
  <header class="main-header layout-logo-menu header-content-wrapper">
    <div class="limit-wrapper header-maybe-limit-wrapper header-padding">
      <div class="header-contents">
        <div class="first-row">
          <div class="logo-wrapper">
            <div class="logo-tagline">
              <a href="https://vip-restaurant.vamtam.com/" title="Délicious" class="logo text-logo"
                style="min-width:0px">Lina </a>
            </div>
            <div class="mobile-logo-additions">
              <!-- <a class="vamtam-cart-dropdown-link icon theme no-dropdown"
                href="https://vip-restaurant.vamtam.com/cart/">
                <span class="icon theme">&#57453;</span>
                <span class="products cart-empty">...</span>
              </a> -->
              <button class="header-search icon vamtam-overlay-search-trigger">&#57648;</button>
              <div id="vamtam-megamenu-main-menu-toggle"></div>
            </div>
          </div>
        </div>
        <div class="second-row has-search">
          <div id="menus">
            <nav id="main-menu">
              <a href="#main" title="Skip to content" class="visuallyhidden">Skip to content</a>
              <div id="mega-menu-wrap-menu-header" class="mega-menu-wrap">
                <div class="mega-menu-toggle">
                  <div class="mega-toggle-blocks-left"></div>
                  <div class="mega-toggle-blocks-center"></div>
                  <div class="mega-toggle-blocks-right">
                    <div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-1' id='mega-toggle-block-1'
                      tabindex='0'><span class='mega-toggle-label' role='button' aria-expanded='false'><span
                          class='mega-toggle-label-closed'></span><span class='mega-toggle-label-open'></span></span>
                    </div>
                  </div>
                </div>
                <ul id="mega-menu-menu-header" class="mega-menu max-mega-menu mega-menu-horizontal mega-no-js"
                  data-event="hover_intent" data-effect="slide" data-effect-speed="200" data-effect-mobile="disabled"
                  data-effect-speed-mobile="0" data-mobile-force-width="false" data-second-click="go"
                  data-document-click="collapse" data-vertical-behaviour="accordion" data-breakpoint="900"
                  data-unbind="true" data-mobile-state="collapse_all" data-hover-intent-timeout="300"
                  data-hover-intent-interval="100">
                  <li
                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-home mega-current-menu-item mega-page_item mega-page-item-11057 mega-current_page_item mega-current-menu-ancestor mega-current-menu-parent mega-current_page_parent mega-current_page_ancestor mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-11673'
                    id='mega-menu-item-11673'><a class="mega-menu-link" href="/home" aria-haspopup="true"
                      aria-expanded="false" tabindex="0">Homes<span class="mega-indicator"></span></a>

                  </li>

                  <li
                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-8021'
                    id='mega-menu-item-8021'><a class="mega-menu-link" href="menu/"
                      aria-haspopup="true" aria-expanded="false" tabindex="0">Menu<span
                        class="mega-indicator"></span></a> 
                  </li>
                  <li
                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-10483'
                    id='mega-menu-item-10483'><a class="mega-menu-link"
                      href="https://vip-restaurant.vamtam.com/reservation/" tabindex="0">Reservation</a></li>
                  <li
                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-7884'
                    id='mega-menu-item-7884'><a class="mega-menu-link"
                      href="https://vip-restaurant.vamtam.com/restaurant/" aria-haspopup="true" aria-expanded="false"
                      tabindex="0">Gallery<span class="mega-indicator"></span></a>
                    <ul class="mega-sub-menu">
                      <li
                        class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7742'
                        id='mega-menu-item-7742'><a class="mega-menu-link"
                          href="https://vip-restaurant.vamtam.com/restaurant/">Restaurant</a>
                      </li>
                      <li
                        class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-9881'
                        id='mega-menu-item-9881'><a class="mega-menu-link"
                          href="https://vip-restaurant.vamtam.com/coffee-shop/">Coffee
                          Shop</a></li>
                      <li
                        class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-9743'
                        id='mega-menu-item-9743'><a class="mega-menu-link"
                          href="https://vip-restaurant.vamtam.com/sushi-bar/">Sushi
                          Bar</a></li>
                    </ul>
                  </li>
                  <li
                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-7885'
                    id='mega-menu-item-7885'><a class="mega-menu-link"
                      href="https://vip-restaurant.vamtam.com/blog/healthy-food/" aria-haspopup="true"
                      aria-expanded="false" tabindex="0">Blog<span class="mega-indicator"></span></a>
                    <ul class="mega-sub-menu">
                      <li
                        class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7719'
                        id='mega-menu-item-7719'><a class="mega-menu-link"
                          href="https://vip-restaurant.vamtam.com/blog/healthy-food/">Healthy
                          Food</a></li>
                      <li
                        class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-11671'
                        id='mega-menu-item-11671'><a class="mega-menu-link"
                          href="https://vip-restaurant.vamtam.com/recipes/">Recipes</a>
                      </li>
                      <li
                        class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7720'
                        id='mega-menu-item-7720'><a class="mega-menu-link"
                          href="https://vip-restaurant.vamtam.com/blog/blog-post-formats/">Cooking</a>
                      </li>
                    </ul>
                  </li>
                  <li
                    class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-10207'
                    id='mega-menu-item-10207'><a class="mega-menu-link" aria-haspopup="true" aria-expanded="false"
                      tabindex="0">Features<span class="mega-indicator"></span></a>
                    <ul class="mega-sub-menu">
                      <li
                        class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-10215'
                        id='mega-menu-item-10215'><a class="mega-menu-link"
                          href="https://vip-restaurant.vamtam.com/features/why-buy-the-theme/">Why
                          Buy?</a></li>
                      <li
                        class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-7738'
                        id='mega-menu-item-7738'><a class="mega-menu-link"
                          href="https://vip-restaurant.vamtam.com/features/theme-options-2/">Theme
                          Options</a></li>
                      <li
                        class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-10404'
                        id='mega-menu-item-10404'><a target="_blank" class="mega-menu-link"
                          href="/?acx_csma_preview=1">Coming Soon</a></li>
                      <li
                        class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-item-10489'
                        id='mega-menu-item-10489'><a class="mega-menu-link"
                          href="https://vip-restaurant.vamtam.com/icons-2/">Icons</a></li>
                    </ul>
                  </li>
                  <li
                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-menu-megamenu mega-align-bottom-left mega-menu-megamenu mega-menu-item-9975'
                    id='mega-menu-item-9975'><a class="mega-menu-link"
                      href="https://vip-restaurant.vamtam.com/shop-home/" tabindex="0">Shop</a></li>
                  <li
                    class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-10213'
                    id='mega-menu-item-10213'><a class="mega-menu-link"
                      href="https://vip-restaurant.vamtam.com/contacts/" tabindex="0">Contact</a></li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
        <div class="cart-dropdown">
          <div class="cart-dropdown-inner">
            <a class="vamtam-cart-dropdown-link icon theme" href="#">
              <span class="icon theme">&#57453;</span>
              <span class="products cart-empty">...</span>
            </a>
            <div class="widget woocommerce widget_shopping_cart">
              <div class="widget_shopping_cart_content"></div>
            </div>
          </div>
        </div>
        <div class="search-wrapper">
          <button class="header-search icon vamtam-overlay-search-trigger">&#57645;</button>
        </div>
      </div>
    </div>
  </header>
</div>