<form class="form-control w-50 mx-auto" [formGroup]="profileForm" (ngSubmit)="login($event)">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelpId" placeholder="" formControlName="email">
      <small id="emailHelpId" class="form-text text-muted"></small>
    </div>
    <div class="form-group">
      <label for="">password</label>
      <input type="password" class="form-control" name="password" id="password" aria-describedby="emailHelpId" placeholder="" formControlName="password">
      <small id="emailHelpId" class="form-text text-muted"></small>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="profileForm.invalid">send</button>
</form>

<div class="card text-left w-50 mx-auto">
  <div class="card-body">
    <h4 class="card-title">login and register as admin </h4>
    <p class="card-text">email:  superAdmin@gmail.com</p>
    <p class="card-text">password: 123456 </p>
  </div>
</div>
<br>