<!-- <p>footer works!</p> -->
<footer class="main-footer vamtam-hide-bg-lowres" style="background-color:#23282f;background-image:none;">
    <div class="footer-sidebars-wrapper limit-wrapper">
        <div id="footer-sidebars" class="limit-wrapper">
            <div class="row">
                <aside class="cell-1-1 fit" data-id="1">
                    <section id="text-18" class="widget widget_text">
                        <div class="textwidget">
                            <p><span class="vamtam-blank-space  vamtam-hide-lowres" style="height:50px"></span></p>
                            <h2 style="color: #CB9252;">lina</h2>
                        </div>
                    </section>
                </aside>
            </div>
            <div class="row">
                <aside class="cell-1-3 fit" data-id="2">
                    <section id="text-15" class="widget widget_text">
                        <h4 class="widget-title">About</h4>
                        <div class="textwidget">
                            <p>Osteria Francescana is a restaurant owned and run by chef Massimo
                                Bottura in Modena, Italy</p>
                            <p><a href="https://themeforest.net/item/restaurant-cafe-theme-for-restaurants-and-cafes/17965713?ref=vamtam"
                                    target="_self" style='font-size: 12px;'
                                    class="vamtam-button accent1  button-border hover-accent1 " rel="noopener"></a>
                            </p>
                        </div>
                    </section>
                </aside>
                <aside class="cell-1-3 fit" data-id="3">
                    <section id="text-22" class="widget widget_text">
                        <h4 class="widget-title">Get news &#038; offers</h4>

                    </section>
                </aside>
                <aside class="cell-1-3 fit" data-id="4">
                    <section id="text-21" class="widget widget_text">
                        <h4 class="widget-title">Contacts</h4>
                        <div class="textwidget">
                            <p>Via Stella, 22<br />
                                Modena MO, Italy<br />
                                abnpub@gmail.copm<br />
                                +390 59 223 912</p>
                        </div>
                    </section>
                </aside>
            </div>
        </div>
    </div>
</footer>