<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>name</th>
            <th>image</th>
            <th>email</th>
            <th>gender</th>
            <th>address</th>
            <th>phone</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users;let i = index">
            <td>{{i}}</td>
            <td>{{user.name}}</td>

            <td class="w-25 h-25"   ><img class="w-25 h-25"
                 height="100" width="100"   [src]="(user.image) ? ('http://localhost:3000/'+user.image) : 'assets/img/photo-gourmet-4.jpg'" alt="">
            </td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>
                <ng-container *ngFor="let addr of user.address;">
                    {{addr}} / <br>
                </ng-container>
            </td>
            <td>
                <ng-container *ngFor="let phon of user.phone;">
            <td> {{phon}} / <br> </td>
            </ng-container>
            </td>
            <td>
                <button class="btn btn-primary" routerLink="edit/{{user._id}}">edit</button>
                <button class="btn btn-danger ms-3" (click)="delete(user._id)">delete</button>
            </td>
    </tbody>
</table>