<table class="table">
  <thead>
      <tr>
          <th>#</th>
          <th>name</th>        
          <th>price</th>
          <th>quantity</th>
          <th>totalPrice</th>
          <th>action</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let cart of carts; let i = index">
          <td>{{i}}</td>
          <td>{{cart.foodName}}</td>
          <td>{{cart.price}}</td>
          <td>{{cart.quantity}}</td>
          <td>{{cart.totalPrice}}</td>
          <td>
              <!-- <button class="btn btn-primary" routerLink="/user/showFood/{{cart._id}}">show</button> -->
              <!-- <button class="btn btn-primary " routerLink="editFood/{{cart._id}}">edit</button> -->
              <button class="btn btn-danger ms-3" (click)="delete(cart._id)">delete</button>
          </td>
  </tbody>
</table>

<div class="card text-left">
  <div class="card-body">
    <h4 class="card-title">totall</h4>
    <button class="btn btn-info" (click)="add()">cal totall price</button>
    <p class="card-text h4 text-center">all Totall is {{Alltotalprice}}</p>
  </div>
  <button class="btn btn-success text-center mx-auto w-25" (click)="addToOrder()">Add To Orders</button>
</div>
